src/main/.DS_Store
target
lib_managed
src_managed
project/bootlogs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
